/* - Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url(images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%)  ;
    height: 100vh;
    
}

button, input{
    font-family: inherit;
}

main{
    display: flex;
    flex-direction: column;
    margin: 15% 5% 3% 7%;
}

/* text-container */

.text-wrapper{
    text-align: center;
    margin-bottom: 3rem;
}

.text-wrapper h1{
    font-weight: 700;
    font-size: 3rem;
    color: white;
    padding-bottom: 1.5rem;
}

.text-wrapper p{
    font-weight: 400;
    color: hsl(248, 27%, 88%) ;
    line-height: 1.5;
    letter-spacing: 2.5px;
    font-size: 16px;
    
}


/* form container */

    


/* subscription box */

.subscription{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: hsl(248, 32%, 49%);
    padding: 1rem 2rem 1rem 2rem;
    margin: 0.5rem 3rem 2rem 2rem;
    border-radius: 0.635rem;
}

.subscription p{
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    color: hsl(248, 27%, 88%) ;
}

.free-try{
    color: white;
}

/* form */

form{
    background-color: white;
    padding: 2.5rem 1.5rem 3rem 1.5rem;
    border-radius: 0.625rem;
    position: relative;
}

input{
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid hsl(248, 27%, 88%);
    box-shadow: 0.5px 2px grey;
    position: relative;
    
}

input:focus{
    outline-color: grey  ;
    border: 1px solid grey  ;
    box-shadow: 0px 0px ;
}


button{
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
    padding: 1rem ;
    border: none;
    border-radius: 0.625rem;
    background-color: hsl(154, 59%, 51%);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: hsl(155, 87%, 76%) ;
}

.terms-n-condition{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
}

span{
    color: hsl(0, 100%, 74%)  ;
    font-size: 13px;
    cursor: pointer;

}

span:hover{
    text-decoration: underline;
    color: hsl(0, 69%, 53%) ;
}


/* styles to apply when an error is detected in the form  section*/


/* styles for error icons */
.error-1{
 position: absolute;
 right: 10%;
 top: 9%;
 display: none;
}

.error-2{
    position: absolute;
    right: 10%;
    top: 24.4%;
    display: none;
}

.error-3{
    position: absolute;
    right: 10%;
    top: 40.5%;
    display: none;
}

.error-4{
    position: absolute;
    right: 10%;
    top: 56.8%;
    display: none;
}

/* style for error message */
 
.error-msg{
    text-align: right;
    padding-top: 0.4rem;
    color: red;
    display: none;
}

/* style for the border when error is detected */

.error{
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid red;
    box-shadow: 0px 0px ;
    position: relative;
}

.error:focus{
    outline-color: red  ;
    border: 1px solid red  ;
    box-shadow: 0px 0px ;
}





@media (min-width: 767px) {
     body{
        background-image: url(images/bg-intro-desktop.png);
     }

     main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 7% 5% 3% 7%;
     }

     .text-wrapper{
        width: 60%;
        text-align: left;
        margin-top: 10rem;
        margin-right: 5rem ;
     }

     .text-wrapper p{
        line-height: 2;
     }
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }